@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-family: 'Lato', sans-serif;
    --primary-blue:rgba(10, 62, 139, 1);
    --White: rgba(255, 255, 255, 1);
    --turquoise: rgba(6, 195, 254, 1);
}
body{
    font-family: var(--font-family);
}
h2, h4{
    color: var(--White);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}
p{
    text-align: center;
    line-height: 1.5rem;
    padding: 2rem;
}
ul li{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary-blue);
    cursor: pointer;
}
hr{
    width: 85%;
    margin: 0 auto;
}
button{
    display: inline-block;
    padding: 1rem;
    background-color: var(--primary-blue);
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1.5rem 0.5rem;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgba(10, 62, 139, 1);
}
button a{
    color: var(--White);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
button a:hover{
    color: var(--primary-blue);
    font-size: 1rem;
    transition: ease 1s;
}
.library{
    background-color: var(--primary-blue);
    color:var(--White);
    text-align: center;
}
/* NAV */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(177, 223, 236);
}
nav img{
    margin-top: 0.5rem;
    width: 10rem;
}
nav ul li a{
    font-size: 1rem;
    display: inline-block;
    margin: 1.5rem 1rem;
}
nav ul li a:hover{
    background-color: var(--primary-blue);
    color: var(--White);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: ease 1s;
}
/* CARD */
.card{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2rem 0.8rem;
    width: 290px;
    height: 160px;
    color: var(--White);
    padding: 0.5rem;
    position: relative;
}

.up{
    display: flex;
    justify-content: space-between;
}
.up h4{
    text-transform: capitalize;
    color: var(--White);
}
.up-logo{
    width: 8rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
}
.mid{
    margin-top: 1.5rem;
    position: relative;
}
.mid img{
    width: 2rem;
    margin-top: -2rem;
    position: absolute;
    left: 8%;
}
.mid h5{
    text-align: center;

}
.end{
    display: flex;
    margin-top: 1rem;
}
.end .card-name{
    font-size: 0.5rem;
}
.end h6{
    font-size: 0.3rem;
    /* margin-left: 1.7rem; */
}
.end h4{
    color: var(--White);
    font-size: 1rem;
    margin-left: 0.1rem;
    margin-top: -0.2rem;
}
.visa-logo{
    position: absolute;
    bottom: 3%;
    right: 1%;
    width: 4rem;
}

/* EXOTIC */
.exotic{
    padding: 2rem;
}
.exotic h1{
    font-size: 1.5rem;
}
.exotic ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.exotic ul li{
    background-color: var(--White);
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
}
.fa-floppy-disk, .fa-download{
    padding: 0.3rem 0.7rem;
}
/* CATEGORIES */
.categories h4{
    color: var(--White);
}
.lists .bar{
    border: 4px solid rgb(27, 158, 197);
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    border-bottom: 0;
    padding: 2rem;
    background-image: linear-gradient(rgb(118, 170, 185), rgb(14, 84, 105));
    margin: 0 1rem;
    z-index: 1;
}
.lists button{
    background-color: var(--White);
    border-radius: 2rem;
    display: block;
    margin-left: 3.2rem;
}
.lists button a{
    color: var(--primary-blue);
    font-weight: bold;
}
.chip{
    position: absolute;
    top: 2%;
    left: 3%;
}
.lists .bar .bar-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.categories-listed{
    margin-top: 3rem;
    margin-left: 19rem;
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a, b"
    "c, c"
    "d, e";
}
.categories-listed .flowery-sec{
    grid-area: "a";
}
.categories-listed .animal-sec{
    grid-area: "b";
}
.categories-listed .nature-sec{
    grid-area: "c";
}
.categories-listed .sport-sec{
    grid-area: "d";
}
.categories-listed .car-sec{
    grid-area: "e";
}
/* ======================== */
.flower, .animal, .nature, .sport, .car{
    position: relative;
}
.flower span img, .animal span img, .nature span img, .sport span img, .car span img{
    width: 5rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -3rem;
    left: 2rem;
}
.flower h2, .animal h2, .nature h2, .sport h2, .car h2{
    text-align: left;
    padding-left: 8rem;
}
.save{
    margin-bottom: 3rem;
    margin-left: -6rem;
}
.save ul li{
    display: inline-block;
    margin: -1rem auto;
}
.save ul li a{
    display: block;
    margin: -1rem 0;
}
.save ul li i{
    color: var(--primary-blue);
}

/* FLOWER */

.flower{
    margin-top: 10rem;
}
.flowery-col{
    background-color: rgb(157, 182, 219);
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 2rem;
}
.flower-card-designs .first-flex-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.7rem;
    width: 80%;
}

.card-options .flo4, .card-options .flo5{
    bottom: 5%;
}
.flower .flowery-col .flower-card-designs .first-flex-top .card-options .flo1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/flower1.png);
}
.flower .flowery-col .flower-card-designs .first-flex-top .card-options .flo2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/flower2.png);
    
}
.flower .flowery-col .flower-card-designs .first-flex-top .card-options .flo3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/flower3.png);
    
}
.flower .flowery-col .flower-card-designs .first-flex-top .card-options .flo4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/flower4.png);
    
}
.flower .flowery-col .flower-card-designs .first-flex-top .card-options .flo5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/flower5.png);   
}

/* ANIMAL */
.animal{
    margin-top: 10rem;
}
.animal-col{
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgb(157, 182, 219);
    border-radius: 2rem;
}
.animal-card-designs .first-flex-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.7rem;
    width: 80%;
}
.animal .animal-col .animal-card-designs .first-flex-top .card-options .ani1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/animal1.png);

}
.animal .animal-col .animal-card-designs .first-flex-top .card-options .ani2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/animal2.png);
    
}
.animal .animal-col .animal-card-designs .first-flex-top .card-options .ani3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/animal3.png);
    
}
.animal .animal-col .animal-card-designs .first-flex-top .card-options .ani4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/animal4.png);
    
}
.animal .animal-col .animal-card-designs .first-flex-top .card-options .ani5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/tiger.png);   
}

/* NATURE */
.nature{
    margin-top: 10rem;
}
.nature-col{
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgb(157, 182, 219);
    border-radius: 2rem;
}
.nature-card-designs .first-flex-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.7rem;
    width: 80%;
}
.nature .nature-col .nature-card-designs .first-flex-top .card-options .nat1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/nature1.png);

}
.nature .nature-col .nature-card-designs .first-flex-top .card-options .nat2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/nature2.png);
    
}
.nature .nature-col .nature-card-designs .first-flex-top .card-options .nat3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/beautiful-nature.png);
}
.nature .nature-col .nature-card-designs .first-flex-top .card-options .nat4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/nature4.png);
    
}
.nature .nature-col .nature-card-designs .first-flex-top .card-options .nat5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/71MyHdn01bL\ 1.png);   
}

/* SPORT */
.sport{
    margin-top: 10rem;
}
.sport-col{
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgb(157, 182, 219);
    border-radius: 2rem;
}
.sport-card-designs .first-flex-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.7rem;
    width: 80%;
}
.sport .sport-col .sport-card-designs .first-flex-top .card-options .spo1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/sport1.png);

}
.sport .sport-col .sport-card-designs .first-flex-top .card-options .spo2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/player.png);
    
}
.sport .sport-col .sport-card-designs .first-flex-top .card-options .spo3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/sport3.png);
}
.sport .sport-col .sport-card-designs .first-flex-top .card-options .spo4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/sport4.png);
    
}
.sport .sport-col .sport-card-designs .first-flex-top .card-options .spo5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/play-ball.png);   
}


/* CARS */
.car{
    margin-top: 10rem;
}
.car-col{
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: rgb(157, 182, 219);
    border-radius: 2rem;
}
.car-card-designs .first-flex-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.7rem;
    width: 80%;
}
.car .car-col .car-card-designs .first-flex-top .card-options .car1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/sport-car.png);

}
.car .car-col .car-card-designs .first-flex-top .card-options .car2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/car2.png);
    
}
.car .car-col .car-card-designs .first-flex-top .card-options .car3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/car3.png);
}
.car .car-col .car-card-designs .first-flex-top .card-options .car4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/car4.png);
    
}
.car .car-col .car-card-designs .first-flex-top .card-options .car5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(static/Images/black-sports-car.png);   
}

.flower-card-designs .first-flex-top, .animal-card-designs .first-flex-top, .nature-card-designs .first-flex-top, .sport-card-designs .first-flex-top, .car-card-designs .first-flex-top{
        margin-left: 12rem;
    }

    /* FOOTER */
footer{
    background-color: var(--primary-blue);
    padding: 3rem 4rem;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    display: block;
    margin: 0 auto;
    width: 15rem;
}
footer ul li{
    display: block;
    list-style: none;
    margin-bottom: 2rem;
    text-align: center;
}
footer ul li a:hover{
    font-size: 1.5rem;
    transition: ease 1s;
}
footer a{
    color:var(--White);
    text-decoration: none;
}
.footer-media{
    text-align: center;
    margin-top: 3rem;
}
.footer-media li{
    display: inline-block;
    margin-right: 1.5rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}
.footer-media li:hover{
    font-size: 1.5rem;
    color: rgba(157, 192, 244);
    border: 2px;
    border-color: var(--primary-blue);
    transition: ease 1s;
}
footer p{
    color: var(--White);
    font-weight: bold;
}
@media screen and (max-width: 1340px){
    .categories-listed{
        margin-left: 0;
       padding-left: 18rem;
    }
    .flower-card-designs .first-flex-top, .animal-card-designs .first-flex-top, .nature-card-designs .first-flex-top, .sport-card-designs .first-flex-top, .car-card-designs .first-flex-top{
        margin-left: 8rem;
    }
    .save{
    margin-left: 0;
}
}
@media screen and (max-width: 1240px){
    .categories-listed{
       padding-left: 14rem;
       margin-left: 0;
    }
    .flower-card-designs .first-flex-top, .animal-card-designs .first-flex-top, .nature-card-designs .first-flex-top, .sport-card-designs .first-flex-top, .car-card-designs .first-flex-top{
        margin-left: 5rem;
    }
    .save{
    margin-left: 0;
}
}
@media screen and (max-width: 1140px){
    .categories-listed{
        margin-left: 0;
        padding-left: 9rem;
    }
    .flower-card-designs .first-flex-top, .animal-card-designs .first-flex-top, .nature-card-designs .first-flex-top, .sport-card-designs .first-flex-top, .car-card-designs .first-flex-top{
        margin-left: 4rem;
    }
    .save{
    margin-left: 0;
}
}

@media screen and (max-width: 1040px){
    .card{
        width: 260px;
    height: auto;
    }
.categories-listed{
    margin-left: 0;
}
/* FLOWER */
.flower-card-designs .first-flex-top{
    margin-left: 0.8rem;
}
/* ANIMAL */
.animal-card-designs .first-flex-top{
    margin-left: 0.8rem;
}
/* NATURE */
.nature-card-designs .first-flex-top{
    margin-left: 0.8rem;
}
/* SPORT */
.sport-card-designs .first-flex-top{
    margin-left: 0.8rem;
}
/* CARS */
.car-card-designs .first-flex-top{
    margin-left: 0.8rem;
}
.save{
    margin-left: 0;
}
}

@media screen and (max-width: 867px){
 nav img{
    margin-top: 0.5rem;
    width: 20%;
}
nav ul li a{
    font-size: 0.8rem;
    display: inline-block;
    margin: 1.5rem 0.2rem;
}
.save{
    margin-left: 0;
}
.footer{
    display: block;
}
.categories-listed{
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
    .card{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2rem auto;
    width: 290px;
    height: 160px;
    color: var(--White);
    padding: 0.5rem;
    position: relative;
}
    /* FOOTER */

    .categories-listed{
    display: flex;
    width: auto;
    justify-content: space-between;
    overflow-x: scroll;
}
/* .categories-listed::-webkit-scrollbar {
    display: none;
} */
 /* FLOWER */
.flower-card-designs .first-flex-top{
    height: 19rem;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    margin-left: 0;
}
/* .flower-card-designs .first-flex-top::-webkit-scrollbar {
    display: none;
} */
.card-options{
    margin: 0 1rem;
}

/* ANIMAL */


.animal-card-designs .first-flex-top{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    margin-left: 0;
}
/* .animal-card-designs .first-flex-top::-webkit-scrollbar {
    display: none;
} */

/* NATURE */


.nature-card-designs .first-flex-top{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    margin-left: 0;
}
/* .nature-card-designs .first-flex-top::-webkit-scrollbar {
    display: none;
} */


/* SPORT */


.sport-card-designs .first-flex-top{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    margin-left: 0;
}
/* .sport-card-designs .first-flex-top::-webkit-scrollbar {
    display: none;
} */


/* CARS */

.car-card-designs .first-flex-top{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    margin-left: 0;
}
/* .car-card-designs .first-flex-top::-webkit-scrollbar {
    display: none;
} */
}