*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body{
    font-family: var(--font-family);
    background-color: rgba(231, 240, 252, 1);
}

p{
    color: rgba(112, 115, 118, 1);
    line-height: 1.5rem;
}

ol li{
    display: flex;
    list-style:decimal;
    color: rgba(112, 115, 118, 1);
    flex-direction: column;
}
a{
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: rgba(10, 62, 139, 1);;
    cursor: pointer;
}

button{
    display: inline-block;
    padding: 1rem;
    background-color: rgba(10, 62, 139, 1);
    border: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1.5rem 0.5rem;
}
button a{
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.navbar {
    background-color: white;
    display: flex;
    
    justify-content: space-between;
     background-color:  rgba(255, 255, 255, 1);
}

.navbar ul li a{
    font-size: 0.8rem;
    display: flex;
    margin: 10px;
}
.navbar ul li a:hover{
    background-color: rgba(10, 62, 139, 1);
    color:  rgba(255, 255, 255, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: ease 1s;
}
.intro .create_account .login .download .reset_pw .logout {
    height: 100vh;
  }

  .create_account {
    display: flex;
    flex-direction: column;
  }
  .imtro {
    height: 100vh;
  }
 
  /* .create_account ol {
    width: 50%;
    height: 100%;
    flex-direction: row-reverse;
  } */
  .createaccount_img {
    height: 50%;
    width: 50%;
    margin: auto;
  }
  .login {
    display: flex;
    flex-direction: column;
  }
  .login_img {
    height: 50%;
    width: 50%;
    margin: auto;
  }

  .download {
    display: flex;
    flex-direction: column;
  }
  .download_img {
    height: 50%;
    width: 50%;
    margin: auto;
  }
  .reset_pw {
    display: flex;
    flex-direction: column;
  }
  .resetpw_img {
    height: 50%;
    width: 50%;
    margin: auto;
  }
  .logout {
    display: flex;
    flex-direction: column;
  }
  .logout_img {
    height: 50%;
    width: 50%;
    margin: auto;
  }

  .interaction img {
    width: 30px;
    height: 30px;
  }
  .interaction {
    margin: auto;
    display: flex;
}
.yes {
    display: flex;
    padding: 10px;
}
.no {
    display: flex;
    padding: 10px;
}
.yes p {
    padding-top: 10px;
    padding-left: 5px;
}
.no p {
    padding-top: 10px;
    padding-left: 5px;
}
.question {
    text-align: center;
}