<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
  </head>
  <body>
    <!-- This is a simple intro to the website before jumping into tutorials -->
    <h1>Introduction to CardXtra</h1>
    <p>
      CardXtra is a website that allows you to be creative with your credit card
      designs just by creating an account and making a few clicks. As a CardXtra
      account ownner, you can use access our full library of beautiful pre-made
      templates. In addition, you can download, save and share your designs.
      This can be achieved in few steps:
    </p>
    <ol>
      <li>Create a CardXtra account</li>
      <li>Browse through the library</li>
      <li>Select any template of yur choice</li>
      <li>Edit the demo details and enter yours</li>
      <li>Click the download button</li>
      <li>You can now use your card whenever and where ever!</li>
    </ol>
    <div class="tutorial_page">
      <p>Next</p>
      <p>
        <a href="./tutorials.html"
          >Let's get started <img src="#" alt="A next arrow" />
        </a>
      </p>
    </div>
  </body>
</html>
