{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
  </head>
  <body>
    <div class="signup-container">
      <div class="customize">
        <h1>Customize your card and standout from the crowd.</h1>
        <div class="outer"></div>
        <div class="middle"></div>
        <div class="inner"></div>
      </div>
     
  
      <div class="create">
        <div class="greet">
          <h3>Create an account</h3>
          <p>Hello there! Let's get started</p>
        </div>
        
        <div class="fill">
          <form action="signup_request" method="POST">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{field.label_tag}}<br>
                {{field}}
                {% if field.help_text %}
                  <small style="color:grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in fields.errors %}
                  <p style="color:red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit"><a href="#" >Sign-up</a></button>
            <p class="already">Already have an account?<a href="{% url 'login' %}">Log In</a></p>
          </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <footer>
      <div class="footer">
        <div class="first-div">
          <img
            src="static/Images/cardxtra_logo1-removebg-preview 6.png"
            alt="logo"
            class="footer-logo"
          />
        <div class="second-div">
          <ul>
            <li><a href="#">Designs</a></li>
          </ul>
        </div>
        <div class="third-div">
          <ul>
            <li><a href="#">Terms and Condition </a></li>
            <li><a href="#">Policy and Privacy</a></li>
          </ul>
        </div>
        <div class="fourth-div">

          <ul>
            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
            <li><a href="{% url 'about_us' %}">About Us</a></li>
          </ul>
        </div>
        </div>
        

        </div>
      </div>
      <div class="footer-media">
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="info@cardxtra.com"><i class="fa-solid fa-envelope"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </footer> -->
    <script
      src="https://kit.fontawesome.com/4fed0c590c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
