<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>SIGN UP</h1>
    <form action="{% url 'accounts:signup' %}" method="post">
      {% csrf_token %}

      <label for="username">Username:</label>
      <input type="text" name="lname" id="lname" />
      <label for="email">Email address:</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="rpassword">Confirm Password:</label>
      <input type="password" name="rpassword" id="rpassword" />
      <label for="profilepic">Profile picture:</label>
      <input type="image" name="profilepic" id="profilepic" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
