<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorials</title>
  </head>
  <body>
    <!-- Each tutorial will have an height of 100vh -->
    <h1>CREATE AN ACCOUNT</h1>
    <p>To create an account:</p>
    <ol>
      <li>Click on the <a href="http://">sign up</a> button</li>
      <img src="#" alt="sign_up_botton_action" />
      <li>Enter your details into the provided fields.</li>
      <img src="#" alt="sign_up_form" />
      <li>Click on the Sign Up button</li>
      <img src="#" alt="sign_up_button_action" />
      <li>Welcome on board! You will be redirected to the homepage</li>
      <img src="#" alt="home_page_image" />
    </ol>
    <!-- When a user clicks on a link to a separate tutorial, it jumps to the section with the tutorialn the same page -->
    <p>
      If you already have an account <a href="#login_tutorial">login here</a>
    </p>
    <h1 id="login_tutorial">LOGIN TO YOUR ACCOUNT</h1>
    <p>If you already have an account:</p>
    <ol>
      <li>Click on the <a href="http://">login</a> button</li>
      <img src="#" alt="login_button_action" />
      <li>Enter your email address and password</li>
      <img src="#" alt="login_form" />
      <li>Click on the login button</li>
      <img src="#" alt="login_button" />
      <li>You will be redirected to the homepage where you can <a href="#start_designing">start designing</a></li>
      <img src="#" alt="home_page_image" />
    </ol>
    <h1 id="start_designing">START DESIGNING</h1>
    <p>To start creating your custom card design:
        <ol>
            <li>Click on the <a href="http://">libraries</a> button on the navigation bar </li>
            <img src="#" alt="library_button_action">
            <li>Select any card design of your choice</li>
            <img src="#" alt="card_designs_display">
            <li>Click on the design</li>
            <img src="#" alt="desired_card_display_with_form">
            <li>Type your own details into the provided form</li>
            <img src="#" alt="card_edit_form">
            <li>Click download and your design will be automatically downloaded</li>
            <img src="#" alt="download_button">
            <img src="#" alt="download_sucess_img">
        </ol>
    </p>
    <h1>RESET YOUR PASSWORD</h1>
    <p>To reset your password:</p>
    <ol>
        <li>Click on the profile icon on the right corner of your navigation bar</li>
        <img src="#" alt="profile_icon_img">
        <li>Click on settings from the options that pop up</li>
        <img src="#" alt="profile_options_img">
        <li>Click on change password from the settings options</li>
        <img src="#" alt="change_password_img">
        <li>Enter your email address</li>
        <li>A reset link will be sent to your email</li>
    </ol>
    <h1>LOGOUT OF YOUR ACCOUNT</h1>
    <p>To logout of your account:</p>
    <ol>
        <li>Click on the profile icon on the right corner of your navigation bar</li>
        <img src="#" alt="profile_icon_img">
        <li>Click on settings from the options that pop up</li>
        <img src="#" alt="profile_options_img">
        <li>At the buttom of the settings page is the sign out button</li>
        <img src="#" alt="signout_button_img">
        <li>You will be redirected to the landing page</li>
        <img src="#" alt="landing_page_img">
    </ol>
    <div class="interaction">
      <p>Did this page help you?</p>
      <div class="yes">
        <img src="#" alt="thumb_up" />
        <p>Yes</p>
      </div>
      <div class="no">
        <img src="#" alt="thumb_down" />
        <p>No</p>
      </div>
    </div>
</body>
</html>
